@model IEnumerable<FirstDonations.Models.Donation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Requests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Part.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Part.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/img/@item.ImagePart"
                         width="80"
                         height="80"
                         style="border-radius: 50%;"
                         asp-append-version="true" />
                </td>
                <td class="pt-4">
                    @Html.DisplayFor(modelItem => item.NamePart)
                </td>
                <td class="pt-4">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="pt-4">
                    @if (item.Status == "In progress" || item.Status == "Requested")
                    {
                        <button class="btn-cancel-request btn btn-danger" asp-action="Delete" data-id="@item.Id">Cancel</button>
                    }

                    @if (item.Status == "Sent")
                    {
                        <a href="@Url.Action("MarkAsReceived", "Donations", new { Id = item.Id, DonatorTeamId = item.DonatorTeamId })" class="btn btn-primary">Mark as received</a>
                    }
                    <a class="btn btn-dark" href="@Url.Action("PartOwnerProfile", "Profile", new { partOwnerId = item.DonatorTeamId })">Contact Owner Part</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal" class="modal fade" role="dialog" />

@section scripts{
    <script>
        $(function () {
            $(".btn-cancel-request").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Donations/Delete?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}
