@model IEnumerable<FirstDonations.Models.Donation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All donations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Donator Team Name
            </th>
            <th>
                Interested Team Name
            </th>
            <th>
                Part
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="pt-4">
                    @Html.DisplayFor(modelItem => item.DonatorTeamName)
                </td>
                <td class="pt-4">
                    @Html.DisplayFor(modelItem => item.InterestedTeamName)
                </td>
                <td>
                    <img src="~/img/@item.ImagePart"
                         width="80"
                         height="80"
                         style="border-radius: 50%;"
                         asp-append-version="true" />
                </td>
                <td class="pt-4">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="pt-4">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <button class="btn-cancel-request btn btn-danger" asp-action="Delete" data-id="@item.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal" class="modal fade" role="dialog" />

@section scripts{
    <script>
        $(function () {
            $(".btn-cancel-request").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Donations/Delete?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}

