@model FirstDonations.Models.Part
@{
    ViewBag.Title = "Part";
}
<div class="container">
    <div class="modal-dialog" style="max-width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Part Details</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Owner Team
                            </th>
                            <th>
                                Part
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Area)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @if (!String.IsNullOrEmpty(Model.ProfileImage))
                            {
                                <td>
                                    <img src="~/img/@Model.ProfileImage"
                                         width="80"
                                         height="80"
                                         style="border-radius: 50%;"
                                         asp-append-version="true" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <button class="dropbtn fas fa-user fa-1x"
                                            style="border-radius: 50%; width:80px;
                                            height:80px;"
                                            asp-append-version="true" />
                                </td>
                            }
                            <td>
                                <img src="~/img/@Model.Image"
                                     width="80"
                                     height="80"
                                     style="border-radius: 50%;"
                                     asp-append-version="true" />
                            </td>
                            <td class="pt-4">
                                @Html.DisplayFor(modelItem => @Model.Name)
                            </td>
                            <td class="pt-4">
                                @Html.DisplayFor(modelItem => @Model.Area)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>