@model IEnumerable<FirstDonations.Models.Part>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Parts</h1>

<p>
    <button class="btn-create btn btn-dark" asp-action="CreateUserPart">Create New</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/img/@item.Image"
                         width="80"
                         height="80"
                         style="border-radius: 50%;"
                         asp-append-version="true" />
                </td>
                <td class="pt-4">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="pt-4">
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td class="pt-4">
                    <a class="fas fa-trash-alt pr-5" asp-action="Delete" asp-route-id="@item.Id"></a>
                    <button class="btn-requests btn btn-primary" asp-action="Requests" data-id="@item.Id">Requests</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="modal" class="modal fade" role="dialog"  />

@section scripts{
    <script>
        $(function () {
            $(".btn-requests").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/Parts/Requests?id=" + id, function () {
                    $("#modal").modal();
                })
            });
        })

        $(function () {
            $(".btn-create").click(function () {
                $("#modal").load("/Parts/CreateUserPart", function () {
                    $("#modal").modal();
                })
            });
        })
    </script>
}
