@model IEnumerable<FirstDonations.Models.Donation>
@{
    ViewBag.Title = "Requests";
}
<div class="container">
    <div class="modal-dialog" style="max-width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Requests</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Part
                            </th>
                            <th>
                                Donation Status
                            </th>
                            <th>
                                Interested Team
                            </th>
                            <th> Interested Team Profile</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <img src="~/img/@item.ImagePart"
                                     width="80"
                                     height="80"
                                     style="border-radius: 50%;"
                                     asp-append-version="true" />
                            </td>
                            <td class="pt-4">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td class="pt-4">
                                @Html.DisplayFor(modelItem => item.InterestedTeamName)
                            </td>
                            <td class="pt-4">
                                <a class="btn btn-dark" href="@Url.Action("PartOwnerProfile", "Profile", new { partOwnerId = item.InterestedTeamId })">Go to team profile</a>
                            </td>
                            @if (item.Status == "In progress")
                            {
                                <td class="pt-4">
                                    <a href="@Url.Action("MarkAsSent", "Donations", new { Id = item.Id, InterestedTeamId = item.InterestedTeamId })" class="btn btn-primary">Mark as sent</a>
                                    <a href="@Url.Action("DeclineRequest", "Parts", new { Id = item.Id,  InterestedTeamId = item.InterestedTeamId  })" class="btn btn-danger">Cancel donation</a>
                                </td>
                            }

                            @if (!ViewBag.IsPartInDonationAlready)
                            {
                                <td class="pt-4">
                                    <a href="@Url.Action("AcceptRequest", "Parts", new { Id = item.Id, InterestedTeamId = item.InterestedTeamId })" class="btn btn-primary">Accept</a>
                                    <a href="@Url.Action("DeclineRequest", "Parts", new { Id = item.Id,  InterestedTeamId = item.InterestedTeamId  })" class="btn btn-danger">Decline</a>
                                </td>
                            }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>